<!DOCTYPE HTML>
<html>

<head>
    <title>vue_tab</title>
    <link rel="stylesheet" type="text/css" href="tab.css">
    <script src="https://cdn.jsdelivr.net/npm/vue/dist/vue.js"></script>
    <script src="https://unpkg.com/axios/dist/axios.min.js"></script>
    <style type="text/css">
    ul,
    li {
        list-style: none;
    }

    li {
        padding: 10px 0;
    }

    li span {
        padding: 0 20px 0;
    }
    </style>
</head>

<body>
    <div id="tab">
        <div class="tab-tit">
            <!--点击设置curId的值  如果curId等于0，第一个a添加cur类名，如果curId等于1，第二个a添加cur类名，以此类推。添加了cur类名，a就会改变样式 @click,:class ,v-show这三个是vue常用的指令或添加事件的方式-->
            <a href="javascript:;" @click="curId=0" :class="{'cur':curId===0}">全部</a>
            <a href="javascript:;" @click="curId=1" :class="{'cur':curId===1}">央视</a>
            <a href="javascript:;" @click="curId=2" :class="{'cur':curId===2}">卫视</a>
        </div>
        <div class="tab-con">
            <!--根据curId的值显示div,如果curId等于0，第一个div显示，其它三个div不显示。如果curId等于1，第二个div显示，其它三个div不显示。以此类推-->
            <div v-show="curId===0">
                全部
                <ul>
                    <li v-for="item in alldata"><span>排名：{{item.rank}}</span><span>频道：{{item.tv_name}}</span><span>节目：{{item.epg_name}}</span></li>
                </ul>
            </div>
            <div v-show="curId===1">
                央视
                <ul>
                    <li v-for="item in ysdata"><span>排名：{{item.rank}}</span><span>频道：{{item.tv_name}}</span><span>节目：{{item.epg_name}}</span></li>
                </ul>
            </div>
            <div v-show="curId===2">
                卫视
                <ul>
                    <li v-for="item in wsdata"><span>排名：{{item.rank}}</span><span>频道：{{item.tv_name}}</span><span>节目：{{item.epg_name}}</span></li>
                </ul>
            </div>
        </div>
    </div>
</body>
<script>
new Vue({
    el: '#tab',
    data: {
        curId: 0,
        alldata: [],
        ysdata: [],
        wsdata: []
    },
    computed: {

    },
    methods: {
        allData: function() {
            var _this = this;
            axios.get('http://eye.kuyun.com/api/tvlb', {
                    params: {
                        tv_type: 0
                    }
                })
                .then(function(response) {
                    console.log(response);
                    var allList = response.data.data;
                    for (var i = 0; i < allList.length; i++) {
                        _this.alldata.push(allList[i]);
                    }
                })
                .catch(function(error) {
                    console.log(error);
                });
        },
        ysData: function() {
            var _this = this;
            axios.get('http://eye.kuyun.com/api/tvlb', {
                    params: {
                        tv_type: 1
                    }
                })
                .then(function(response) {
                    console.log(response);
                    var allList = response.data.data;
                    for (var i = 0; i < allList.length; i++) {
                        _this.ysdata.push(allList[i]);
                    }
                })
                .catch(function(error) {
                    console.log(error);
                });
        },
        wsData: function() {
            var _this = this;
            axios.get('http://eye.kuyun.com/api/tvlb', {
                    params: {
                        tv_type: 2
                    }
                })
                .then(function(response) {
                    console.log(response);
                    var allList = response.data.data;
                    for (var i = 0; i < allList.length; i++) {
                        _this.wsdata.push(allList[i]);
                    }
                })
                .catch(function(error) {
                    console.log(error);
                });
        },
    },
    mounted: function() {
        this.allData();
        this.ysData();
        this.wsData();
    }
})
</script>

</html>